*.pro.user*
*.o
ui_*
moc_*
qrc_*
Makefile
OpenRGB-x86_64.AppImage
.qmake.stash
.vscode
build
Ship
www/*
.build*/
tests/room-image-routing/.build/
*.obj
*.pdb
*.ilk
*.dll
*.lib
*.exp
_intermediate_*/
.*-output.txt
